@font-face{
    font-family: "Benton Sans";
    src: url('BentonSans-Book.otf');
    font-weight: 400;
}

@font-face{
    font-family: "Benton Sans";
    src: url('BentonSans-Bold.otf');
    font-weight: 600;
}

@font-face{
    font-family: "Benton Sans";
    src: url('BentonSans-Light.otf');
    font-weight: 200;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'Benton Sans', sans-serif;
  text-align: center;
}

.hello {
  font-size: 5rem;
  font-weight: 200;
  margin-top: 100px;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.building {
  width: 440px;
  height: 440px;
  margin: auto;
  position: relative;
  top:0;
  left:0;
  border: 5px #f2f2f2 solid;
  border-radius: 5px;
}

.room {
  position: absolute;
  background-color: #f2f2f2; /* change to default grey */
  border: 1px #000 solid;
  width: 50px;
  height: 50px;
  font-size: 0.8em;
  transition: 0.2s linear all;
}

.room--blue {
  background-color: #6ec2eb;
}

.room--green {
  background-color: #b5d556;
}

.room--pink {
  background-color: #eb74b0;
}

.room--oj {
  background-color: #fbc34d;
}

.room--active {
  opacity: 0.4;
}

.name {
  border: none;
  margin-bottom: 50px;
  font-size: 5em;
  text-align: center;
  font-family: 'Benton Sans', sans-serif;
}

.name:focus {
  outline: none
}